### ignore ###
# dont put server jar in repo
# is not what git is made for
/jar/*

# dont put plugins in repo
# is not what git is made for
# and can get us in trouble because of paid plugins
/plugins/*.jar

# dont put datapacks in repo
# is not what git is made for
/datapacks/*

# dont put mappings in repo
# is not what git is made for
/plugins/minecraft/.paper-remapped

# dont put world files in repo
/worlds/world/*
/worlds/nether/*
/worlds/end/*

# dont put logs in repo
/logs/*

# dont put secrets in repo
# these are for the minecraft container
/secrets/*

## plugin stuff that should not be put in repo
/plugins/minecraft/spark/tmp-client/*

### keep ###
# folder without contents on repo
!.gitkeep

# keep per world configuration files
!paper-world.yml
!gale-world.yml
